.container {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  border: 1px solid black
}

.container div {
  box-sizing: border-box;
  height: 50px;
  width: 50px;
  float: right;
  display: inline-flex;  
}
